.modal {
  transition: opacity 0.25s ease;
  z-index: 99;
}

body.modal-active {
  overflow-x: hidden;
  overflow-y: visible !important;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9800;
  visibility: hidden;
  opacity: 0;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  transition: opacity 200ms;
}

.modal {
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none;
  transform: translateY(10%);
  transition: 0.1s ease-in-out;
}

.modal-wrapper .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.modal-is-open {
  visibility: visible;
  opacity: 1;
}
.modal-is-open > .modal {
  transform: translateY(0);
}

.modal-centered {
  display: flex;
  align-items: center;
  min-height: calc(100% - (0.5rem * 2));
}

@media (min-width: 576px) {
  .modal {
    max-width: 500px;
    margin: 1.75rem auto;
  }
  .modal.modal-lg {
    max-width: 800px !important;
  }
  .modal-centered {
    min-height: calc(100% - (1.75rem * 2));
  }
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,.1), 0 4px 6px -2px rgba(0,0,0,.05);
  padding: 1.25rem;
}

.modal-content-header{
  /* border-b p-2 pb-3 pt-0 mb-4 */
  border-bottom: 1px solid #f0f0f0;
  padding: .5rem;
  padding-bottom: .75rem;
  padding-top: 0;
  margin-bottom: 1rem;
}

.modal-content-header > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-content-header .close-modal {
  display: flex;
  transition: 500ms;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 50%;
  background: #edf2f7;
}

.modal-content-header .close-modal:hover { background: #e2e8f0; }
